input {
  file {
    type => "linux-syslog"
    sincedb_path => "{{ logstash_config.sincedb_path }}"
    path => [ "/var/log/*.log", "/var/log/messages", "/var/log/syslog" ]
  }

}

output {
  stdout { debug => true debug_format => "json"}
  redis { host => "{{ logstash_config.redis_server_ip }}" data_type => "list" key => "logstash" }
}


