input {
  file {
    type => "linux-syslog"
    sincedb_path => "/usr/share/logstash/data"
    path => [ "/var/log/*.log", "/var/log/messages", "/var/log/syslog", "/usr/share/logstash/log/*", "/var/log/elasticsearch/*.log" ]
  }

}

output {
  stdout { debug => true debug_format => "json"}
  redis { host => "{{ logstash_config.redis_server_ip }}" data_type => "list" key => "logstash" }
}
